<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.findata.dao.KvmConfigMapper" >
  <resultMap id="BaseResultMap" type="com.yonyou.findata.model.KvmConfig" >
    <!--
      WARNING - @mbg.generated
    -->
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="config_key" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="config_value" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="info" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="os_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, config_key, config_value, info, os_type, status
  </sql>
</mapper>